.booking {
	opacity: 0;
	display: flex;
	position: fixed;
	z-index: 100;	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	flex-direction: column;	
	max-width: rem(270px);
	height: rem(540px);	
	padding: rem(50px) rem(40px) rem(40px) rem(40px);
	background-color: $color2;
	transform: scale(0);
	box-shadow: $drop-shadow;
	color: $white;		

	&--active {
		opacity: 1;
		transform: scale(1);
		transition: transform .3s;
	}

	&__close {
		position: absolute;
		top: rem(16px);
		right: rem(16px);
		background-color: transparent;
		color: inherit;
		border: none;
		outline: none;
		cursor: pointer;
	}

	&__message {
		color: $color3;
		margin-bottom: rem(15px);
	}

	&__h4 {
		margin-bottom: rem(20px);
	}

	&__label {
		margin-bottom: rem(40px);
	}

	&__input {
		display: block;
		width: 100%;
		color: inherit;
		background-color: transparent;
		outline: none;
		border: none;
		border-bottom: 1px solid $color3;
	}

	&__btn-wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: rem(20px);
	}

	&__btn {
		width: 100%;
		border: none;
		padding: rem(14px);
		color: $white;
		background-color: $color1;
		cursor: pointer;

		&:hover {
			color: $color2;
			background-color: $color3;
		}
	}










}