.hero {
	position: relative;
	color: $white;

	&__img {
		position: relative;
		display: block;
		height: rem(900px);
		object-fit: cover;
		object-position: center;
		filter: brightness(.5);

		@media #{$screen-tablet} { 
		height: rem(568px);
		} 
	
		@media #{$screen-mobile} {
		}
	}

	&__content {
		position: absolute;
		top: rem(264px);
		left: 0;
		right: 0;

		@media #{$screen-tablet} { 
			top: rem(200px);
		}

		@media #{$screen-mobile} { 
			top: rem(100px);
		}
	}

	&__schedule {
		margin-bottom: rem(24px);
		font-size: $font-size-extra-big;
		letter-spacing: .13rem;
		text-transform: uppercase;

		@media #{$screen-mobile} { 
			font-size: $font-size-base;
			text-align: center;
			margin-bottom: rem(40px);
		}
	}

	&__h1 {
		margin-bottom: rem(40px);

		@media #{$screen-tablet} { 
			margin-bottom: rem(50px);			
		}

		@media #{$screen-mobile} {
			text-align: center;	
			margin-bottom: rem(60px);
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media #{$screen-mobile} {
			flex-direction: column;			
		}
	}

	.hero__socials {

		@media #{$screen-mobile} {
			display: none;			
		}
	}
}