.modal {
	position: absolute;	
	display: flex;
	flex-direction: column;
	max-width: rem(728px);
	top: rem(70px);
	left: $container-horizontal-padding;
	right: $container-horizontal-padding;
	
	padding: 16px;
	background-color: #f7f7f7;
	border-radius: 4px;
	box-shadow: $drop-shadow;
	font-size: 14px;
	z-index: 20;

	&-hidden {
		display: none;
	}

	&__btn {
		align-self: flex-end;		

		& svg {
			width: rem(16px);
			height: rem(16px);
			color: $color1;

			&:hover {
				color: $color2;
			}
		}		
	}

	&__text-wrapper {
		padding: 10px 30px 24px 30px;
		line-height: 1.7em;
		}

	&__text:not(:last-child) {
		margin-bottom: 10px;
	}
}



