.icon {
	&--arrow-down {
		width: rem(70px);
		height: rem(70px);
	}

	&--arrow-up {
		width: rem(70px);
		height: rem(70px);
	}

	&--clock {
		width: rem(24px);
		height: rem(24px);
	}

	&--email {
		width: rem(24px);
		height: rem(24px);
	}

	&--map {
		width: rem(24px);
		height: rem(24px);
	}

	&--phone {
		width: rem(24px);
		height: rem(24px);
	}

	&--quotes {
		width: rem(83px);
		height: rem(58px);
	}

	&--social-fb {
		width: rem(48px);
		height: rem(48px);
	}

	&--social-lg {
		width: rem(48px);
		height: rem(48px);
	}

	&--social-tw {
		width: rem(48px);
		height: rem(48px);
	}

	&--social-yt {
		width: rem(48px);
		height: rem(48px);
	}

	&--bullets {
		width: rem(64px);
		height: rem(5px);
	}

	&--burger {
		width: rem(24px);
		height: rem(24px);
	}

	&--close {
		width: rem(24px);
		height: rem(24px);
	}
}